<title>GroupMatesFinder System - Login</title>

<body>

    <div class="head">
        <a href="/"><img src="/images/logo3.png" width="50" height="45" alt="" class="d-inline-block align-top"></a>
    </div>

    <div class="login">
        <a href="/user/login" class="btn btn-outline-info" style="float: right;">Login</a>
    </div>

    <div class="d-flex justify-content-center align-items-center login-container w3-animate-opacity">
        <form class="login-form text-center" action="/user/login" method="POST"
            onsubmit="submitForm(this);return false">

            <h3>Please login in to your account</h5>
                <hr>

                <div class="mb-3">
                    <input type="text" class="form-control rounded-pill form-control-lg" name="givenId"
                        placeholder="Student/Staff ID" required>
                </div>
                <div class="mb-0">
                    <input type="password" class="form-control rounded-pill form-control-lg" name="password"
                        placeholder="Password" required>
                </div>

                <div class="d-grid gap-2 col-10 mx-auto">
                    <button type="submit"
                        class="btn mt-4 btn-lg rounded-pill btn-custom btn-lg text-uppercase">Login</button>
                </div>
    </div>

    </form>
    </div>


</body>

<script>
    async function submitForm(oFormElement) {

        var response = await fetch(oFormElement.action, {
            method: oFormElement.method,
            credentials: 'same-origin',
            body: new FormData(oFormElement),
        });

        if (response.redirected) {
            window.location = response.url;
        } else if (response.status == 200) {
            var data = await response.json();
            alert(data);
            location.reload(true);
        } else if (response.status == 401) {
            var data = await response.text();
            alert(data);
        } else {
            alert(response.statusText);
        }

    };

</script>


<style>
    .head {
        position: absolute;
        top: 5%;
        left: 4%;
        transform: translate(-50%, -50%);
    }

    .login {
        position: absolute;
        top: 5%;
        left: 95%;
        transform: translate(-50%, -50%);
    }

    .btn-outline-info {
        transition-duration: 0.4s;
    }

    .btn-outline-info:hover {
        background-color: rgb(72, 196, 214);
        color: white;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    body {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        background: #f8f9f9ee;
        color: #666;
    }

    .login-container {
        height: 100vh;
        width: 100%;
    }

    .login-form {
        margin: auto;
        width: 450px;
        padding: 15px;
        max-width: 100%;
    }

    .login-form .form-control {
        font-size: 15px;
        min-height: 48px;
        font-weight: 500;
    }

    .login-form a {
        text-decoration: none;
        color: #666;
    }

    .login-form a:hover {
        color: rgb(23, 162, 184);
    }

    .forgot-link {
        font-size: 13px;
    }

    .form-control:focus {
        border-color: rgb(23, 162, 184);
        box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, .25);
    }

    .btn-custom {
        background: #17a2b8;
        border-color: #17a2b8;

        color: #fff;
        font-size: 15px;
        font-weight: 600;
        min-height: 48px;
    }

    .btn-custom:focus,
    .btn-custom:hover,
    .btn-custom:active,
    .btn-custom:active:focus {
        background: rgb(72, 196, 214);
        border-color: rgb(72, 196, 214);
        color: #fff;
    }

    .btn-custom:focus {
        box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, .25);
    }


    .login-container {
        /* This section calls the slideInFromLeft animation we defined above */
        animation: 1s ease-out 0s 1 slideInFromLeft;

        padding: 30px;
    }

    @keyframes slideInFromLeft {
        0% {
            transform: translateY(-40%);
        }

        100% {
            transform: translateY(0);
        }
    }
</style>