<body>

    <br>

    <h2>Evaluation > Add</h2>

    <br>



    <h5>Evaluation Info:</h5>

    <div class="container" style="padding-left: 50px;">

        <div class="form-group w-50">
            <div class="mb-3 row">
                <div class="col-3">
                    <label for="evaluationName" class="col-form-label">Name:</label>
                </div>
                <div class="col-9 my-2">
                    <input type="text" class="form-control form-control-sm" name="Evaluation[name]" required>
                </div>
            </div>
        </div>

        <div class="form-group w-50">

            <div class="mb-3 row">

                <div class="col-3">
                    <label for="evaluationName" class="col-form-label">Availability:</label>
                </div>

                <div class="col-3">
                    <div class="form-check my-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Public
                        </label>
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-check my-2">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Private
                        </label>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <br>
    <br>

    <!-- <h5>Peer Evaluation Question:</h5> -->

    <div class="my-3 row">
        <div class="col-3">
            <h5>Peer Evaluation Question:</h5>
        </div>
        <div class="col-9">
            <button class="btn btn-primary" onclick="showQuestion()">Add Question</button>
            <div id="numOfQuestion"></div>
        </div>
    </div>








    <div class="container" style="padding-left: 50px;">



        <div id="myLocation"></div>






    </div>


</body>


<script>

    var i = 1;

    var q = 0;

    function showQuestion() {

        var Question = [];

        var data = "<div class='form-group w-50'><div class='mb-3 row'><div class='col-3'><label class='col-form-label'>Question " + i +
            ":</label></div><div class='col-9 my-2'><input type='text' class='form-control form-control-sm' required/></div></div></div>";

        $('#myLocation').before(data);

        $('#numOfQuestion').text(i);

        i++;

    }


</script>