<body>

    <br>

    <div class="card">

        <div class="card-header">
            <h4>Create Evaluation</h4>
        </div>

        <div class="card-body" style="padding: 30px;">

            <form method="POST" action="/teacher/evaluation/add">

                <h5>Info:</h5>

                <br>

                <div class="mb-3">
                    <div class="form-group row">
                        <label for="example-title" class="col-2 col-form-label">Name:</label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="Evaluation[name]" required>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-3">
                        <label for="evaluationName" class="col-form-label">Availability:</label>
                    </div>

                    <div class="col-3">
                        <div class="form-check my-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Public
                            </label>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-check my-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Private
                            </label>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="message-text" class="col-form-label">Instruction:</label>
                    <textarea class="form-control" name="Evaluation[instruction]" required></textarea>
                </div>

                <br>
                <div class="mb-3">

                    <h5>Choose Peer Evaluation Question:</h5>

                    <% allQuestions.forEach( function(question) { %>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="c" value="<%= question.id %>">
                            <label class="form-check-label" for="flexCheckDefault">
                                <%= question.question %>
                            </label>
                        </div>

                        <% }); %>

                </div>


                <button type="submit" class="btn btn-primary mx-1" style="float: right;">Create</button>
                <a href="/teacher/evaluation" class="btn btn-secondary mx-1" style="float: right;">Close</a>

            </form>

        </div>

    </div>

    </div>


</body>

<style>
    .card {
        width: 800px;
        margin: auto;
    }
</style>